<html>
  <head>
    <%- include('./includes/head', { siteTitle: themeConfig.siteName }) %>
    <meta name="description" content="<%- site.customConfig.metaDescription || themeConfig.siteDescription %>" />
  </head>
  <body class="bg-yellow-50">
    <div class="main">
      <div class="main-content bg-yellow-50 ">
        <%- include('./includes/header') %>
    
        <%- include('./includes/post-list-archives') %>
    
        <%- include('./includes/pagination') %>
    
        <%- include('./includes/footer') %>
      </div>
    </div>
  </body>
</html>
